<!--<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">addisplay</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div id="chartContainer" style="height: 370px; width: 500px; margin-left:auto;margin-right:auto;"></div>
    </div>
</ng-template>-->

<div id="searchPanel" class="mat-raised-button">
    <div class="select-panel">
        <mat-tab-group [selectedIndex]="position" animationDuration="10ms">
            <mat-tab label="Graph" #graphTip="ngbTooltip" tooltipClass="tool-tip-custom" placement="top" ngbTooltip="Function Call Graphes">
                <ejs-treeview  cssClass="customTree" #treeGraph (nodeSelected)="onNodeSelectedGraph($event)" class="ejs-tree" id="default"  [fields]='graphFields'></ejs-treeview>
            </mat-tab>
            <mat-tab label="Image" #imageTip="ngbTooltip" tooltipClass="tool-tip-custom" placement="right" ngbTooltip="Image Data Graphs">
                <ejs-treeview cssClass="customTree" #tree (nodeSelected)="onNodeSelectedImage($event)" class="ejs-tree" id="default"  [fields]='fields'></ejs-treeview>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
<div id="statsPanel">
    <div class="statsContainer">
        <ul>
            <li *ngFor="let item of stats | keyvalue" >
                <div *ngIf="item.key === 'density' || item.key === 'edges' || item.key === 'entropy' || item.key === 'nodes'" class="container-img">
                    <img src="../../assets/box.jpg" (click)="openDialog(item.value)" class="statsItem mat-raised-button"/>
                    <div class="centered">{{item.key}}</div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div id="graph-container"></div>

<!--                        <img class="selected-img " src='{{image}}'/>
-->
