.control_wrapper {
    max-width: 500px;
    margin: auto;
    border: 1px solid #dddddd;
    border-radius: 3px;
}

.padding-200 {
    padding-bottom: 100px;
    padding-left: 0px!important;
    padding-right:0px!important;
}

.center {
    margin-left:auto;
    margin-right:auto;
}
.banner {
    width: 100%;
    padding-bottom: 30px;
}

.image-desc {
    width:250px;
    padding: 0px!important;
    box-shadow: 2px 1px 5px 4px #0f151a;

}

.tab-content {
    width: 100%;
}
.explore-container {
    background-color: #182026;
    width:100vw;
    overflow: hidden;
    height: 100vh;
}
.ejs-tree {
    height: 100%;
}

.selected-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 800px;
    width: 100%;
}
.selected-img-300 {
    padding-left:300px!important;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 1024px;
    width: 100%;
}
@media (max-width: 992px) {
    #statsPanel {
        display: none!important;
    }
    .nav-item-displayed {
        display: none!important;
    }
    .ham-nav-item-displayed {

    }
    .statsContainer-sm {
        height: 100% !important;
        overflow: auto!important;
    }
    .statsItem {
        width: 200px!important;
        height: 110px!important;
    }

}

@media (min-width: 992px) {
    .nav-item-displayed {
    }
    .ham-nav-item-displayed {
        display: none!important;
    }
}

@media (max-width: 600px) {

}

.popover {width:350px;max-width:1500px;}
.popover-content h4 {
    color: #00A1FF;
}
.popover-content h4 small {
    color: black;
}
.popover-content button.btn-primary {
    color: #00A1FF;
    border-color:#00A1FF;
    background:white;
}
.expand:hover {
    cursor: pointer;
}
.dataset {
    margin:0px!important;
}
.popover-content button.btn-default {
    color: gray;
    border-color:gray;
}

.padding-20 {
    padding-left:20px;
    padding-right:20px;
}
.nav-explore-bg {
    background: #1b2329;
    position: fixed;
    width: 100%;
    z-index: 15;
    box-shadow: 2px 1px 5px 0.1px black;
}
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}
.close-btn {
    padding-right:30px;
    padding-bottom: 20px;
    margin-left:auto; margin-right:0;
}

.hide {
    display: none!important;
}
.close-btn:hover {
    cursor:pointer;
}

.close-burger:hover {
    cursor: pointer;
}
.row-content h4 {
    padding-left:30px;
}
#graph-container {
    background: #182026;
    overflow: hidden!important;
}
.pt-button-group {
    display: inline-flex;
}
.searchPanel {
    z-index: 10;
    position: absolute;
    left: 0;
    right: 0;
    width: 350px;
    height: 100%;
    background-color: #1b2329;
    color: white;
    padding: 0;
    transition: 0.3s;
    -webkit-box-shadow: 2px 1px 5px 0.1px #0f151a;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    2px 1px 5px 0.1px #0f151a;  /* Firefox 3.5 - 3.6 */
    box-shadow:         2px 1px 5px 0.1px #0f151a;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.minimal-navbar-right {
    position: absolute;
    top: 0;
    background: #1b2329;
    right: 0;
    z-index: 15;
    -webkit-box-shadow: 2px 1px 5px 0.1px #0f151a;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    2px 1px 5px 0.1px #0f151a;  /* Firefox 3.5 - 3.6 */
    box-shadow: 2px 1px 5px 0.1px #0f151a;
    padding: 10px;
}
.close-burger {
    margin-left:auto; margin-right:auto;
}
.small-icon {
    padding-left:10px;
    padding-right:10px;
}
#statsPanel {
    z-index: 10;
    position: absolute;
    right: 0;
    width: 350px;
    height: 100%;
    float: right;
    background-color: transparent;
    padding: 0;

}
.minimize-tp {
    padding:5px;
    text-align: center;
}
.statsContainer-sm {
    height: 100%;
}

.statsContainer-sm ul {
    list-style-type: none;
    padding: 0px!important;
}

.statsContainer-sm ul li:hover {
    cursor: pointer;
}
.statsContainer {
    padding-top:90px;
}

.statsContainer ul {
    list-style-type: none;
}

.statsContainer ul li:hover {
    cursor: pointer;
}

.statsItem {
    width: 225px;
    height: 130px;
    margin:15px;
    -webkit-box-shadow: 2px 1px 5px 0.1px #0f151a;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    2px 1px 5px 0.1px #0f151a;  /* Firefox 3.5 - 3.6 */
    box-shadow: 2px 1px 5px 4px #0f151a;
    padding: 0px!important;
}


.select-panel {
    height: 100%;
    padding-top:90px;
}
.select-panel-hide {
    padding-top:20px;
}
.e-treeview .e-list-text {
    color: white;
}
.e-treeview > .e-ul {
    overflow-y: hidden ;
    overflow-x: hidden;
}
.e-treeview .e-icon-collapsible, .e-treeview .e-icon-expandable {
    color: #636366;
}
.container-img {
    position: relative;
    text-align: center;
    color: white;
}
/* Centered text */
.container-img .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    color: whitesmoke;
    font-weight: bold;
    transform: translate(-50%, -50%);
}

.customTree {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}