<div class="explore-container">
    <nav [ngClass]="expand ? '' : 'hide'" class="navbar navbar-expand-lg  navbar-dark nav-explore-bg">
    <a class="navbar-brand js-scroll-trigger" href="#frontPageContainer"><img width="40" height="40" src="assets/malware_symbol_white.png"/></a>
        <i [ngbPopover]="popContentHelp"
           [autoClose]="false" placement="bottom" #helpIdMobile="ngbPopover"
           class="fas ham-nav-item-displayed fa-question-circle fa-1x color-white expand" (click)="resetPopOver()"></i>
        <i [ngbPopover]="popContentExpand"
           [autoClose]="false" placement="bottom" #expandIdMobile="ngbPopover"
           class="fas ham-nav-item-displayed fa-expand fa-1x color-white expand" (click)="toggleExpand()"></i>
        <a href="#"><i class="fab ham-nav-item-displayed fa-github fa-1x color-white"></i></a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="#About" class="nav-link js-scroll-trigger" >About</a>
            </li>
            <li class="nav-item">
                <a href="#Team" class="nav-link js-scroll-trigger" >Team</a>
            </li>
            <li class="nav-item">
                <a href="#Download" class="nav-link js-scroll-trigger" >Download</a>
            </li>
            <li class="nav-item">
                <a href="#Faq" class="nav-link js-scroll-trigger" >FAQ</a>
            </li>
            <li class="nav-item">
                <a href="#Citation" class="nav-link js-scroll-trigger" >Publications</a>
            </li>
        </ul>
        <div class="form-inline my-2 my-lg-0 padding-20 nav-item-displayed">
            <i [ngbPopover]="popContentHelp"
               [autoClose]="false" placement="bottom" #helpId="ngbPopover"
               class="fas fa-question-circle fa-1x color-white expand" (click)="resetPopOver()"></i>
        </div>
        <div class="form-inline my-2 my-lg-0 padding-20 nav-item-displayed">
            <i [ngbPopover]="popContentExpand"
               [autoClose]="false" placement="bottom" #expandId="ngbPopover"
               class="fas fa-expand fa-1x color-white expand" (click)="toggleExpand()"></i>
        </div>
        <div class="form-inline my-2 my-lg-0 padding-20 nav-item-displayed">
            <a href="#"><i class="fab fa-github fa-1x color-white"></i></a>
        </div>
    </div>
</nav>
<div [ngClass]="expand ? 'hide' : ''" class="minimal-navbar-right">
        <i class="fas fa-question-circle fa-1x color-white expand small-icon"></i>
        <i class="fas fa-expand fa-1x color-white expand small-icon" (click)="toggleExpand()"></i>
        <a href="#"><i class="fab fa-github fa-1x color-white small-icon"></i></a>
</div>
<div [ngClass]="searchSize ? 'searchPanel': 'searchPanel-hide'" id="searchPanel">
    <div [ngClass]="searchSize ? 'select-panel': 'select-panel-hide'">
        <div class="container">
            <div class="row row-content">
                <h4 [ngClass]="searchSize ? '' : 'hide'">Explore</h4>
                <i [ngbPopover]="popContentClose"
                   [autoClose]="false" placement="right" #closeId="ngbPopover"
                   [ngClass]="searchSize ? 'fa-caret-left close-btn' : 'fa-bars close-burger'" class="fas fa-2x" (click)="toggleSearchBar()" ></i>
            </div>
        </div>
        <mat-tab-group  [ngbPopover]="popContentGraph"
                        [autoClose]="false" placement="right" #graphId="ngbPopover"
                        [ngClass]="searchSize ? '' : 'hide'" [selectedIndex]="position" animationDuration="10ms">
            <mat-tab
                     label="Graph">
                <ejs-treeview  cssClass="customTree" #treeGraph (nodeSelected)="onNodeSelectedGraph($event)" class="ejs-tree" id="default"  [fields]='graphFields'></ejs-treeview>
            </mat-tab>
            <mat-tab
                     label="Image">
                <ejs-treeview cssClass="customTree" #tree (nodeSelected)="onNodeSelectedImage($event)" class="ejs-tree" id="default"  [fields]='fields'></ejs-treeview>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
<div id="statsPanel" [ngClass]="searchSize ? '' : 'hide'">
    <div class="statsContainer">
        <ul>
            <li *ngFor="let item of stats | keyvalue">
                <div *ngIf="item.key === 'density' || item.key ==='Average Degree' ||item.key === 'edges' || item.key === 'entropy' || item.key === 'nodes'" class="container-img">
                    <p>{{item.key.charAt(0).toUpperCase() + item.key.slice(1)}}</p>
                    <img src="assets/preview.jpg" (click)="openDialog(item.value, item.key)" class="statsItem"/>
                </div>
            </li>
            <li *ngIf="isImage ? 'hide': ''">
                <div class="container-img">
                    <p>DEX File Legend</p>
                    <img src="assets/image_desc.png" class="image-desc" />
                </div>
            </li>
        </ul>
    </div>
</div>
<div [ngClass]="isImage ? 'hide': ''" id="graph-container"></div>
<div [ngClass]="isImage ? '': 'hide'">
    <img  [ngClass]="searchSize ? 'selected-img-300': 'selected-img'" src='{{image}}'/>
</div>
<ng-template #popContentClose>
    <div class="minimize-tp">
        <p>Click to minimize</p>
        <button class="btn btn-primary" (click)="nextToolTip()">Next</button>
    </div>
</ng-template>
<ng-template #popContentHelp>
    <div class="minimize-tp">
        <p>Click for help</p>
        <button class="btn btn-primary" (click)="nextToolTip()">Next</button>
    </div>
</ng-template>
<ng-template #popContentGraph>
    <div class="minimize-tp">
        <p>Graph and Image Data, Expand to explore</p>
        <button class="btn btn-primary" (click)="nextToolTip()">Next</button>
    </div>
</ng-template>
<ng-template #popContentExpand>
    <div class="minimize-tp">
        <p>Click to expand view</p>
        <button class="btn btn-primary" (click)="close(expandId, expandIdMobile)">Close</button>
    </div>
</ng-template>
</div>
<!--                        <img class="selected-img " src='{{image}}'/>
-->
