
.downloads-container {
    margin-top: 200px;
}

.downloads-content {
    padding: 25px;
    background-color: #007ee5;
    text-align: center;
}
.clickable:hover {
    cursor: pointer;
}
.download-p {
    text-align: left!important;
}

.lock {
    text-align: center;
}
.download-img {
    margin-left:auto;
    margin-right:auto;
    display: block;
    width: 150px;
}

@media (max-width: 992px) {
    .download-img {
        margin-left:auto;
        margin-right:auto;
        display: block;
        width: 100px;
    }
}

@media (max-width: 480px) {
    .download-img {
        margin-left:auto;
        margin-right:auto;
        display: block;
        width: 75px;
    }
}

.downloads-content h1 {
    padding-bottom: 20px;
}
.downloads-content p {
    padding-bottom: 20px;
}

.downloads-content i {
    color: white;
}

.downloads-content .fa-project-diagram:hover {
    color: #838383;
    cursor: pointer;
}

.downloads-content .fa-file-contract:hover {
    color: #838383;
    cursor: pointer;
}

.downloads-content .row p {
    color:white;
    padding-top:20px;
}

.downloads-content .row h3 {
    color:white;
    padding: 20px;
}
