<section id="Download">
<div class="downloads-container">
    <div class="downloads-content">
        <h1 class="color-white">Download Now</h1>
        <p class="color-white">Graph and image datasets can be found below</p>
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-4">
                <h3>Graph Data</h3>
                <i class="fas fa-2x fa-arrow-circle-down"></i>
                <br>
                <br>
                <a href="https://www.dropbox.com/" ><img  class="faded-edge-img" src="../../assets/node2.png" width="240px" /></a>
                <p class="download-p">300GB of graph data. <b>1,262,024</b> unique function call graphs across 696 families and 47 types of malware.</p>
            </div>
            <div class="col-md-2"><div class="vertical"></div> </div>
            <div class="col-md-4">
                <h3>Image Data</h3>
                <i class="fas fa-2x fa-arrow-circle-down"></i>
                <br>
                <br>
                <a href="https://www.dropbox.com/" ><img class="faded-edge-img" src="../../assets/binary.png" width="175px" /></a>
                <!--<a href="https://www.dropbox.com/" ><i class="fas fa-9x fa-file-contract"></i></a>-->
                <p class="download-p">80GB of image data. <b>1,262,024</b> unique function call graphs across 696 families and 47 types of malware.</p>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row" style="">
            <img style="margin-left:auto;margin-right:auto;display: block;" width="150px" src="../../assets/download-section.png"/>
        </div>
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-4">
                <h3>Metadata</h3>
                <i class="fas  fa-2x fa-arrow-circle-down"></i>
                <br>
                <br>
                <a href="https://www.dropbox.com/" ><img  class="faded-edge-img" src="../../assets/database.png" width="120px" /></a>
                <p class="download-p">Antivirus vendors label malicious software according to a variety of conventions, creating noisy labels. To address this challenging research problem,
                    we release VirusTotal reports containing 70 antivirus labels for each file</p>
            </div>
            <div class="col-md-2"><div class="vertical"></div> </div>

            <div class="col-md-4">
                <h3>Train/Val/Test</h3>
                <i class="fas fa-2x fa-arrow-circle-down"></i>
                <br>
                <br>
                <a href="https://www.dropbox.com/" ><img class="faded-edge-img" src="../../assets/text.png" width="145px" /></a>
                <!--<a href="https://www.dropbox.com/" ><i class="fas fa-9x fa-file-contract"></i></a>-->
                <p class="download-p">We provide three files containing a recommended data split to train, validate and test your models in a ratio of 70%, 10% and 20%, respectively.</p>
            </div>
            <div class="col-md-1">
            </div>
        </div>

    </div>
</div>
</section>
