<section id="Download">
    <div class="downloads-container">
        <div class="downloads-content">
            <h1 class="color-white">Download Now</h1>
            <p class="color-white">Graph and image datasets can be found below</p>
            <div *ngFor="let download of downloadsData; let i = index; first as isFirst; last as isLast">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                        <h3>{{download['list'][0]['name']}}</h3>
                        <i class="fas fa-2x fa-arrow-circle-down"></i>
                        <br>
                        <br>
                        <a href="{{download['list'][0]['image-link']}}" ><img  class="faded-edge-img" src="{{download['list'][0]['image-url']}}" [ngStyle]="download['list'][0]['style']"/></a>
                        <p class="download-p" [innerHtml]="download['list'][0]['text']"></p>
                    </div>
                    <div class="col-md-2" *ngIf="download['list'].length === 2"><div class="vertical"></div> </div>
                    <div class="col-md-4" *ngIf="download['list'].length === 2">
                        <h3>{{download['list'][1]['name']}}</h3>
                        <i class="fas fa-2x fa-arrow-circle-down"></i>
                        <br>
                        <br>
                        <a href="{{download['list'][1]['image-link']}}" ><img  class="faded-edge-img" src="{{download['list'][1]['image-url']}}" [ngStyle]="download['list'][1]['style']" /></a>
                        <p class="download-p" [innerHtml]="download['list'][1]['text']"></p>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div *ngIf="!isLast" class="row">
                    <img class="download-img" src="assets/download-section.png"/>
                </div>
            </div>
        </div>
    </div>
</section>
