<header class="masthead" id="frontPageContainer">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div>
                        <img width="150" height="150" src="../../assets/malware_symbol.png"/>
                    <h1 >Explore Now</h1>
                    </div>
                    <div  class="card card-5" id="quote-container">
                        <input class="dark-grey input form-control border-0" type="search" placeholder="search">
                    </div>
                </div>
            </div>
        </div>
        <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>

    </div>

</header>

