<header class="masthead" id="frontPageContainer">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-xs-8 mx-auto">
                    <div class="card card-5">
                        <div>
                            <img width="420px" src="../../assets/logo.png"/>
                            <p [innerHTML]="homeVerb"></p>
                        </div>
                        <div id="quote-container">
                            <!--<ejs-dropdowntree (select)="select($event)" id='dropdowntree' [fields]='fields' placeholder='Search Malnet...'></ejs-dropdowntree>-->
                            <mat-button-toggle-group (change)="toggleBtnAction(toggleBtn)"  [(ngModel)]="toggleBtn"  #group="matButtonToggleGroup" name="fontStyle" aria-label="Font Style">
                                <mat-button-toggle class="mat-raised-button" value="Graph">Graph</mat-button-toggle>
                                <mat-button-toggle class="mat-raised-button" value="Image">Image</mat-button-toggle>
                            </mat-button-toggle-group>
                            <div class="input-group mb-3">
                                <div class="input-group-append search-container rounded">
                                    <button class="btn btn-outline-secondary search-btn" type="button"><i class="fas fa-search"></i></button>
                                <ng-select2  [data]="exampleData"
                                            [placeholder]="'Search Malnet...'"
                                            (valueChanged)="select($event)"
                                            [width]="450"></ng-select2>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <particles #particlesComponent [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>

    </div>

</header>
