<div class="container">
    <div class="row" >
        <h2 class="description-header">Research Team</h2>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <img height="286px" width="282px" class="card-img-top" src="../../assets/Duen_horng.jpg" alt="DuenHorng">
                <h4>Duen Horng (Polo) Chau</h4>
                <p class="title">Research Member</p>
                <p>Georgia Tech</p>
                <p><a href="https://poloclub.github.io/polochau">Learn More</a></p>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <img height="286px" width="282px" class="card-img-top" src="../../assets/Scott_Freitas.png" alt="DuenHorng">
                <h4>Scott Freitas</h4>
                <p class="title">Research Member</p>
                <p>Georgia Tech</p>
                <p style="float: bottom"><a href="https://www.scottfreitas.com/">Learn More</a></p>
            </div>
        </div>
    </div>
</div>
