<section id="Team">
<div class="container">
    <div class="row" >
        <h2 class="description-header">Research Team</h2>
    </div>
    <div class="row team">
                <div class="card profile-card-1 mat-raised-button" *ngFor="let member of teamMember">
                    <img src="{{member['background-team']}}" alt="profile-sample1" class="background"/>
                    <img src="{{member['person-image']}}" [ngStyle]="member['style']" alt="profile-image" class="profile"/>
                    <div class="card-content">
                        <h2>{{member['name']}}</h2>
                        <h5>{{member['title']}}</h5>
                            <div class="icon-block">
                                <a href="{{member['home-link']}}"><i class="fas fa-2x fa-home"></i></a>
                                <a href="{{member['git-link']}}"><i class="fab fa-2x fa-github"></i></a>
                                <a href="{{member['linkedin-link']}}"><i class="fab fa-2x fa-linkedin-in"></i></a>
                                <a href="{{member['scholar-link']}}"><i class="fas fa-2x fa-graduation-cap"></i></a>
                            </div>
                    </div>
                </div>
    </div>

</div>
</section>
