<mat-dialog-actions align="end">
    <button type="button" class="close" aria-label="Close" mat-button mat-dialog-close>
        <span aria-hidden="true">&times;</span>
    </button>

</mat-dialog-actions>
<h2 mat-dialog-title style="text-align: center">{{this.data['title']}}</h2>
<mat-dialog-content class="mat-typography box-plot-size">
    <plotly-plot [data]="graph.data" [layout]="graph.layout"></plotly-plot>
</mat-dialog-content>


<!-- Copyright 2020 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
